/*Global Styles*/
* {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3.5 rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 1.6rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 3px;
  color: #504d43;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.header-title {
  font-size: 1.8rem;
}

.cales-desc {
  font-family: Open Sans, sans-serif;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.6rem;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-size: 0.9em;
  color: #322f2a;
}

.blogtext {
  font-family: Open Sans, sans-serif;
}

/*Global Styles*/
* {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3.5 rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 1.6rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 3px;
  color: #504d43;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.header-title {
  font-size: 1.8rem;
}

.cales-desc {
  font-family: Open Sans, sans-serif;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.6rem;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-size: 0.9em;
  color: #322f2a;
}

.blogtext {
  font-family: Open Sans, sans-serif;
}

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ae8f4a;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  text-justify: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-grid-column-align: right;
      justify-self: right;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  text-decoration: none;
  color: #504d43;
  padding: 5px;
  font-size: 1.8rem;
}

.fa:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.iconify {
  text-decoration: none;
  color: #504d43;
  font-size: 3rem;
  padding: 5px;
}

.iconify:hover {
  background-color: #ae8f4a;
  padding: 5px;
  border-radius: 12px;
}

.body-footer {
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
  margin-bottom: 25px;
  font-size: 0.6rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

header .home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

header .header-menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.header-menu-right ul2 {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cales-title {
  padding-top: 10px;
}

.cales-desc {
  padding-top: 10px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30vw;
          flex: 1 1 30vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 500px;
  max-width: 1100px;
}

.blogblock {
  width: 100%;
  min-width: 500px;
  max-width: 1100px;
  padding: 25px;
}

.calesdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  height: 30vw;
  min-height: 400px;
  max-height: 600px;
  min-width: 400px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.cales1 {
  width: 100%;
  height: 50vw;
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Porto_Barcos1_horizontal.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Porto_Barcos1_horizontal.JPG");
}

.cales1:hover {
  background-color: #ae8f4a;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Douro_Landscape1.jpg");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Douro_Landscape1.jpg");
}

.cales2:hover {
  background-color: #b3ad97;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Aveiro_Rossio_Horizontal.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Aveiro_Rossio_Horizontal.JPG");
}

.cales3:hover {
  background-color: #ae8f4a;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales4 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Porto_Tonic1_vertical.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Porto_Tonic1_vertical.JPG");
}

.cales4:hover {
  background-color: #b3ad97;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales5 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/IMG_5136.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/IMG_5136.JPG");
  background-size: cover;
  background-blend-mode: soft-light;
  background-size: cover;
}

.cales5:hover {
  background-color: #ae8f4a;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales6 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Porto_Tonic1_vertical.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Porto_Tonic1_vertical.JPG");
}

.cales6:hover {
  background-color: #ae8f4a;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales7 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url(../Pictures/Porto_Igreja2_Vertical.JPG);
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url(../Pictures/Porto_Igreja2_Vertical.JPG);
}

.cales7:hover {
  background-color: #ae8f4a;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales8 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/IMG_5136.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/IMG_5136.JPG");
}

.cales8:hover {
  background-color: #ae8f4a;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cales9 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Porto_Tonic1_vertical.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Porto_Tonic1_vertical.JPG");
}

.blogheading {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  opacity: 0;
}

.blogintro {
  padding-top: 5px;
  padding-bottom: 25px;
  text-justify: newspaper;
  text-align: center;
}

.blogtext {
  padding-top: 5px;
  padding-bottom: 25px;
  text-justify: newspaper;
  text-align: left;
}
/*# sourceMappingURL=explore.css.map */