/*Global Styles*/
* {
  font-family: "Raleway", Open Sans, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

br {
  display: block;
  /* makes it have a width */
  content: "";
  /* clears default height */
  margin-top: 20px;
  /* change this to whatever height you want it */
}

h1 {
  font-size: 3.5 rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;
  font-size: 400rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 1.6rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 3px;
  color: #504d43;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.title-content {
  font-size: 2.7rem;
  font-weight: 300;
}

.introduction-content {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.main-logo-content {
  font-size: 1.5rem;
  font-weight: 300;
}

.cales-title {
  font-size: 5rem;
  font-weight: 600;
}

.cales-desc {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.6rem;
}

.header-title {
  font-size: 1.6rem;
  color: #ae8f4a;
}

.introtitle {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  color: #322f2a;
}

.blogtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.blogtext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.articleheading {
  font-size: 2rem;
  font-weight: 400;
}

.article {
  background-color: #b19e5919;
}

.articletext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.articlecontainer {
  background-color: #504d43;
}

.articlecontainerheading {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.articlecontainertext {
  color: white;
}

.subarticle {
  background-color: white;
}

.subarticleheading {
  font-size: 1.8rem;
  font-weight: 400;
}

.subarticletext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.1 rem;
  line-height: 1.6rem;
}

.blogbar {
  background-color: #ae8f4a;
}

.blogbarqr {
  font-size: 0.5rem;
}

.embebbedlink {
  font-weight: 600;
  color: #333f25;
}

/*Global Styles*/
* {
  font-family: "Raleway", Open Sans, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

br {
  display: block;
  /* makes it have a width */
  content: "";
  /* clears default height */
  margin-top: 20px;
  /* change this to whatever height you want it */
}

h1 {
  font-size: 3.5 rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;
  font-size: 400rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 1.6rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 3px;
  color: #504d43;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.title-content {
  font-size: 2.7rem;
  font-weight: 300;
}

.introduction-content {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.main-logo-content {
  font-size: 1.5rem;
  font-weight: 300;
}

.cales-title {
  font-size: 5rem;
  font-weight: 600;
}

.cales-desc {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.6rem;
}

.header-title {
  font-size: 1.6rem;
  color: #ae8f4a;
}

.introtitle {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  color: #322f2a;
}

.blogtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.blogtext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.articleheading {
  font-size: 2rem;
  font-weight: 400;
}

.article {
  background-color: #b19e5919;
}

.articletext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.articlecontainer {
  background-color: #504d43;
}

.articlecontainerheading {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.articlecontainertext {
  color: white;
}

.subarticle {
  background-color: white;
}

.subarticleheading {
  font-size: 1.8rem;
  font-weight: 400;
}

.subarticletext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.1 rem;
  line-height: 1.6rem;
}

.blogbar {
  background-color: #ae8f4a;
}

.blogbarqr {
  font-size: 0.5rem;
}

.embebbedlink {
  font-weight: 600;
  color: #333f25;
}

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ae8f4a;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  text-justify: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-grid-column-align: right;
      justify-self: right;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  text-decoration: none;
  color: #504d43;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.8rem;
}

.fa:hover {
  background-color: #ae8f4a;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.iconify {
  text-decoration: none;
  color: #504d43;
  font-size: 3rem;
  padding: 5px;
}

.iconify:hover {
  background-color: #ae8f4a;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.body-footer {
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
  margin-bottom: 25px;
  font-size: 0.6rem;
}

.home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 4;
      -ms-flex: 4 1 300px;
          flex: 4 1 300px;
}

.header-menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

.header-menu-right ul2 {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #b19e5919;
  border-radius: 30px 30px 30px 30px;
  margin-top: 30px;
  padding: 1vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
  margin: 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 500px;
  max-width: 1100px;
}

.cales-title {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #322f2a;
}

.cales-desc {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: #322f2a;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.calesdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  height: 30vw;
  min-height: 500px;
  min-width: 500px;
  max-height: 650px;
  padding: 10px;
  margin: 0px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.blogblock {
  width: 100%;
  min-width: 500px;
  max-width: 1100px;
  padding: 25px;
}

main {
  border-radius: 30px 30px 30px 30px;
}

.blogheading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  opacity: 0;
}

.blogintro {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.blogtext {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.blogtitle {
  border-radius: 30px 30px 30px 30px;
  margin-top: 30px;
}

.calesdiv {
  background-color: #b19e5919;
}

.cales1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Porto_Barcos1_horizontal.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Porto_Barcos1_horizontal.JPG");
}

.cales2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Douro_Vineyards_HW.jpg");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Douro_Vineyards_HW.jpg");
}

.cales3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Aveiro_Rossio_Horizontal.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Aveiro_Rossio_Horizontal.JPG");
}

.cales4 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Braga_BomJesus1_H.jpg");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Braga_BomJesus1_H.jpg");
}

.cales5 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Guimaraes_Castelo_J.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Guimaraes_Castelo_J.JPG");
  background-blend-mode: soft-light;
  background-size: cover;
}

.cales6 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Porto_Ribeira1_HJPG.JPG");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Porto_Ribeira1_HJPG.JPG");
}

.cales7 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url(../Pictures/Porto_tram1_H.JPG);
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url(../Pictures/Porto_tram1_H.JPG);
}

.cales8 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, white), color-stop(0%, white)), url("../Pictures/Porto_Foz1_H.jpg");
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%), url("../Pictures/Porto_Foz1_H.jpg");
}

.cales9 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(20%, white)), url("../Pictures/Porto_Ribeira1_H.jpg");
  background-image: linear-gradient(to top, white 50%, white 20%), url("../Pictures/Porto_Ribeira1_H.jpg");
}
/*# sourceMappingURL=explore.css.map */