@import "./variables.scss";

html {
  font-size: 2.5rem;
  box-sizing: border-box;
  width: 100vw;
}

body {
  width: 90vw;
  margin: 0 auto;
}

.header-menu-right {
  font-size: 0.7rem;
}

.cales-title {
  font-size: 3rem;
  font-weight: 600;
}

.cales-desc{
  align-items: baseline;
}

.iconify {
  font-size: 2.4rem;
}

.calesdiv {
  max-height: 500px;
}

.header-title {
  display: flex;
  justify-content: center;
  flex: 1 1 200px;
  color: $col_gold;
}

