@import "./variables.scss";

body {
  max-width: $maxwid;
}

html {
  margin: 25px;
}

.iconify {
  font-size: 3.5rem;
}

header {
  background-color: $col_lbeige;
  border-radius: 30px 30px 30px 30px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.header-title {
  display: flex;
  justify-content: center;
  flex: 4 1 300px;
  color: $col_gold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cales-title{
  font-size: 3rem;
}

.cales1 {
  border-radius: 30px 30px 0 0;
}

.cales4 {
  border-radius: 0 0 0 30px;
}

.cales5 {
  border-radius: 0 0 30px 0;
}
