@import "./variables.scss";
@import "./header.scss";

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

// Header formatting

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin: 0 auto;

  .home-button {
    display: flex;
    justify-content: center;
    flex: 1 1 150px;
  }

  .header-menu-right {
    display: flex;
    justify-content: center;
    flex: 1 1 150px;
  }
}

.header-menu-right ul2 {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Main page content

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  overflow: hidden; //Hide what's outside the div boxes
}

.block {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  flex-direction: row;
  padding: 0px;
  margin: 0px;

  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: $minwid;
  max-width: $maxwid;
}

.cales-title {
  margin-top: 25px;
  margin-bottom: 15px;
  color: $col_dbrown;
}

.cales-desc {
  margin-top: 15px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.797);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  
}

.calesdiv {
  display: flex;
  flex: 1 1 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  height: 30vw;
  min-height: 500px;
  min-width: 500px;
  max-height: 650px;
  padding: 10px;
  margin: 0px;

  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.blogblock {
  width: 100%;
  min-width: $minwid;
  max-width: $maxwid;
  padding: 25px;
}

main {
  border-radius: 30px 30px 30px 30px;
}

//Blog

.introtitle{
  display: flex;
  width: 100%;
  justify-content: center;
}

.blogheading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  opacity: 0;
}

.blogintro {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.blogtext {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.blogtitle {
  border-radius: 30px 30px 30px 30px;
}

//Cales blocks background images

.calesdiv{
  background-color: $col_lbeige;
}

.cales1 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url("../Pictures/Porto_Barcos1_horizontal.JPG");
}

.cales2 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url("../Pictures/Douro_Vineyards_HW.jpg");
}

.cales3 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url("../Pictures/Aveiro_Rossio_Horizontal.JPG");
}

.cales4 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url("../Pictures/Braga_BomJesus1_H.jpg");
}

.cales5 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url("../Pictures/Guimaraes_Castelo_J.JPG");
  background-blend-mode: soft-light;
  background-size: cover;
}

.cales6 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url("../Pictures/Porto_Ribeira1_HJPG.JPG");
}


.cales7 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url(../Pictures/Porto_tram1_H.JPG);
}

.cales8 {
  background-image: linear-gradient(to top, white 0%, white 50%, white 0%),
    url("../Pictures/Porto_Foz1_H.jpg");
}

.cales9 {
  background-image: linear-gradient(to top, white 50%, white 20%),
    url("../Pictures/Porto_Ribeira1_H.jpg");
}