@import "./variables.scss";

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu ul1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

li {
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  min-height: 80px;
  align-items: center;
  color: $col_gold;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  text-justify: right;
  justify-content: right;
  justify-self: right; 
}
.menu ul2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

//icons formatting
.fa {
  text-decoration: none;
  color: $col_brown;
  padding: 5px;
  font-size: 1.8rem;
}
.fa:hover {
  background-color: $col_gold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.iconify {
  text-decoration: none;
  color: $col_brown;
  font-size: 3rem;
  padding: 5px;
}
.iconify:hover {
  background-color: $col_gold;
  padding: 5px;
  border-radius: 12px;
}

.body-footer {
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
  margin-bottom: 25px;
  font-size: 0.6rem;
}