/*Global Styles*/
* {
  font-family: "Raleway", Open Sans, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3.5 rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 1.6rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 3px;
  color: #504d43;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.title-content {
  font-size: 2.7rem;
  font-weight: 300;
}

.introduction-content {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.main-logo-content {
  font-size: 1.5rem;
  font-weight: 300;
}

.cales-title {
  font-size: 5rem;
  font-weight: 600;
}

.cales-desc {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.6rem;
}

.header-title {
  font-size: 1.6rem;
}

.blogtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.blogheading {
  font-size: 2rem;
  font-weight: 300;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  color: #322f2a;
}

.blogtext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ae8f4a;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  text-justify: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-grid-column-align: right;
      justify-self: right;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  text-decoration: none;
  color: #504d43;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.8rem;
}

.fa:hover {
  background-color: #ae8f4a;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.iconify {
  text-decoration: none;
  color: #504d43;
  font-size: 3rem;
  padding: 5px;
}

.iconify:hover {
  background-color: #ae8f4a;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.body-footer {
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
  margin-bottom: 25px;
  font-size: 0.6rem;
}
/*# sourceMappingURL=header.css.map */