@import "./variables.scss";

.menu{
  list-style: none;
}

.menu-left{
  grid-area: menu-left;
  z-index: 10;
}

.menu ul1 {
  display:flex;
  justify-content: space-around;
  align-items: center; //vertical alignment
}

.menu-right{
  grid-area: menu-right;
  z-index: 10;
}
.menu ul2 {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.body-footer{
  grid-area: body-footer;
  padding-top: 25px;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.button{
  color: $col_dbrown;
  text-decoration: none;
}

.button:hover{
  opacity: 0.7;
}


//icons formatting
.fa {
  text-decoration: none;
  color: $col_dbrown;
}
.fa:hover {
  opacity: 0.7;
}

.iconify {
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  color: $col_dbrown;
}
.iconify:hover{
  opacity: 0.7;;
}