/*Global Styles*/
* {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 2rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
  color: #423f38;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-title {
  font-size: 1.8rem;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.8rem;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-size: 0.9em;
  color: #423f38;
}

.blogtext {
  font-family: Open Sans, sans-serif;
}

/*Global Styles*/
* {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 2rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
  color: #423f38;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-title {
  font-size: 1.8rem;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.8rem;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-size: 0.9em;
  color: #423f38;
}

.blogtext {
  font-family: Open Sans, sans-serif;
}

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 20px;
  min-height: 150px;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.1rem;
  padding-top: 15px;
  padding-bottom: 20px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 20px;
  min-height: 150px;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-footer {
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
  margin-bottom: 25px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.fa {
  text-decoration: none;
  color: #423f38;
  padding: 5px;
  font-size: 2.5rem;
}

.fa:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.iconify {
  text-decoration: none;
  color: #423f38;
  font-size: rem;
}

.iconify:hover {
  background-color: #ae8f4a;
  border-radius: 12px;
}

html {
  font-size: 1.8rem;
}

body {
  min-width: 550px;
  width: 90vw;
  margin: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .triangle {
  display: none;
}

body .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  min-height: 400px;
  -webkit-box-flex: 4;
      -ms-flex: 4 1 40vw;
          flex: 4 1 40vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  text-align: center;
  z-index: 10;
}

body .introduction {
  padding-top: 25px;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 20vw;
          flex: 3 1 20vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  text-align: center;
  z-index: 10;
}

body .main-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10vw;
          flex: 1 1 10vw;
  max-height: 15vh;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

body .building {
  display: none;
}

.bckvideoovr {
  z-index: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

#backgroundvideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/*# sourceMappingURL=indexmobile.css.map */