@import "./variables.scss";
@import "./header.scss";

html {
  font-size: 1.2rem;
}

#backgroundvideo {
  display: none;
}

body {
  margin: auto;
  max-width: 1100px;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: minmax(400px, 600px) repeat(4, 125px);
  grid-template-rows: 100px repeat(4, 125px) 75px;

  grid-template-areas:
    "menu-left . . menu-right menu-right"
    "title triangle1 triangle2 triangle3 triangle4"
    "title triangle5 triangle6 triangle7 triangle8"
    "introduction building building triangle9 triangle10"
    "main-logo building building triangle11 triangle12"
    "body-footer body-footer body-footer body-footer body-footer";
}

.title {
  grid-area: title;
  display: flex;
  flex: 1 1 40rem;
  align-items: flex-end;
  padding-bottom: 10px;
}

.introduction {
  grid-area: introduction;
  display: flex;
  padding-top: 10px;
  flex: 1 1 40rem; //wrap
  flex-wrap: wrap;
  padding-right: 25px;
}

.main-logo {
  grid-area: main-logo;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 25px;
  padding-bottom: 25px;
}

.building {
  grid-area: building;
  overflow: hidden;
}

//SHAPES

.triangle {
  height: 100%;
  width: 0;
  height: 0;
  border-right: 125px solid transparent;
}

.triimage {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  width: 125px;
  height: 125px;
  justify-content: center;
  overflow: hidden;
}

.building img {
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  overflow: hidden;
}

.triimage:hover {
  opacity: 1;
}

.triangle1 {
  grid-area: triangle1;
  border-bottom: 125px solid $col_gold;
}

.triangle2 {
  grid-area: triangle2;
  border-bottom: 125px solid $col_gold;
}
.triangle3 {
  grid-area: triangle3;
  border-bottom: 125px solid $col_dbrown;
}
.triangle4 {
  grid-area: triangle4;
  border-bottom: 125px solid $col_dbrown;
}
.triangle5 {
  grid-area: triangle5;
  border-bottom: 125px solid $col_gold;
}
.triangle6 {
  grid-area: triangle6;
  border-bottom: 125px solid $col_gold;
}
.triangle7 {
  grid-area: triangle7;
  border-bottom: 125px solid $col_dbrown;
}
.triangle8 {
  grid-area: triangle8;
  border-bottom: 125px solid $col_dbrown;
}
.triangle9 {
  grid-area: triangle9;
  border-bottom: 125px solid $col_beige;
}
.triangle10 {
  grid-area: triangle10;
  border-bottom: 125px solid $col_beige;
}
.triangle11 {
  grid-area: triangle11;
  border-bottom: 125px solid $col_beige;
}
.triangle12 {
  grid-area: triangle12;
  border-bottom: 125px solid $col_beige;
}
