/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 400;
}

* {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
}

/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 400;
}

* {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
}

.menu {
  list-style: none;
}

.menu-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-left;
  z-index: 10;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-right {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: menu-right;
  z-index: 10;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: body-footer;
  padding-top: 25px;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.button {
  color: #423f38;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
}

.fa {
  text-decoration: none;
  color: #423f38;
}

.fa:hover {
  opacity: 0.7;
}

.iconify {
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  color: #423f38;
}

.iconify:hover {
  opacity: 0.7;
}

body {
  margin-left: calc(50vw - 300px - 225px - 5vw);
  margin-top: 5vh;
  max-width: 1350px;
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(450px + 10vw) 150px 150px 150px 150px;
      grid-template-columns: calc(450px + 10vw) 150px 150px 150px 150px;
  -ms-grid-rows: 75px 150px 150px 150px 150px 70px;
      grid-template-rows: 75px 150px 150px 150px 150px 70px;
      grid-template-areas: "menu-left . . menu-right menu-right" "title triangle1 triangle2 triangle3 triangle4" "title triangle5 triangle6 triangle7 triangle8" "introduction building building triangle9 triangle10" "main-logo building building triangle11 triangle12" "body-footer body-footer body-footer body-footer body-footer";
}

.title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.introduction {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: introduction;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 25px;
}

.main-logo {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: main-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  padding-bottom: 25px;
}

.building {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: building;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#backgroundvideo {
  display: none;
}

.triangle1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: triangle1;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #ae8f4a;
  border-right: 150px solid transparent;
}

.image-t1 {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.image-t2 {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.image-t1:hover {
  opacity: 1;
}

.image-t2:hover {
  opacity: 1;
}

.triangle2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: triangle2;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #ae8f4a;
  border-right: 150px solid transparent;
}

.triangle3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: triangle3;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #B3AD97;
  border-right: 150px solid transparent;
}

.triangle4 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: triangle4;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #B3AD97;
  border-right: 150px solid transparent;
}

.triangle5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: triangle5;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #ae8f4a;
  border-right: 150px solid transparent;
}

.triangle6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: triangle6;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #ae8f4a;
  border-right: 150px solid transparent;
}

.triangle7 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: triangle7;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #B3AD97;
  border-right: 150px solid transparent;
}

.triangle8 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: triangle8;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #B3AD97;
  border-right: 150px solid transparent;
}

.triangle9 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: triangle9;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #413F38;
  border-right: 150px solid transparent;
}

.triangle10 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: triangle10;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #413F38;
  border-right: 150px solid transparent;
}

.triangle11 {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: triangle11;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #413F38;
  border-right: 150px solid transparent;
}

.triangle12 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: triangle12;
  height: 150px;
  width: 0;
  height: 0;
  border-bottom: 150px solid #413F38;
  border-right: 150px solid transparent;
}
/*# sourceMappingURL=index.css.map */