/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 400;
}

* {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
}

/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 400;
}

* {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
}

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-footer {
  grid-area: body-footer;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  justify-self: center;
  z-index: 10;
}

.button {
  color: #423f38;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
}

.fa {
  text-decoration: none;
  color: #423f38;
}

.fa:hover {
  opacity: 0.7;
}

.iconify {
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  color: #423f38;
}

.iconify:hover {
  opacity: 0.7;
}

body {
  min-width: 550px;
  width: 90vw;
  margin: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .triangle {
  display: none;
}

body .title {
  min-height: 40vh;
  font-weight: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 10;
}

body .introduction {
  max-height: 20vh;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  z-index: 10;
}

body .main-logo {
  max-height: 15vh;
  font-weight: 30px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  z-index: 10;
}

body .building {
  display: none;
}

body .menu-right {
  padding-top: 50px;
  z-index: 10;
}

.bckvideoovr {
  z-index: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#backgroundvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/*# sourceMappingURL=indexmobile.css.map */