/*Global Styles*/
* {
  font-family: "Raleway", Open Sans, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

br {
  display: block;
  /* makes it have a width */
  content: "";
  /* clears default height */
  margin-top: 20px;
  /* change this to whatever height you want it */
}

h1 {
  font-size: 3.5 rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 1.6rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 3px;
  color: #504d43;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.title-content {
  font-size: 2.7rem;
  font-weight: 300;
}

.introduction-content {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.main-logo-content {
  font-size: 1.5rem;
  font-weight: 300;
}

.cales-title {
  font-size: 5rem;
  font-weight: 600;
}

.cales-desc {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.6rem;
}

.header-title {
  font-size: 1.6rem;
}

.blogtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.blogheading {
  font-size: 2rem;
  font-weight: 400;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  color: #322f2a;
}

.blogtext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.blogbarqr {
  font-size: 0.5rem;
}

/*Global Styles*/
* {
  font-family: "Raleway", Open Sans, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

br {
  display: block;
  /* makes it have a width */
  content: "";
  /* clears default height */
  margin-top: 20px;
  /* change this to whatever height you want it */
}

h1 {
  font-size: 3.5 rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

.ul1 {
  font-size: 1.6rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 3px;
  color: #504d43;
  text-decoration: none;
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background-color: #ae8f4a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.title-content {
  font-size: 2.7rem;
  font-weight: 300;
}

.introduction-content {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}

.main-logo-content {
  font-size: 1.5rem;
  font-weight: 300;
}

.cales-title {
  font-size: 5rem;
  font-weight: 600;
}

.cales-desc {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.to3D {
  font-size: 1.3rem;
}

.header-button {
  font-size: 1.6rem;
}

.header-title {
  font-size: 1.6rem;
}

.blogtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.blogheading {
  font-size: 2rem;
  font-weight: 400;
}

.blogintro {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  color: #322f2a;
}

.blogtext {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.blogbarqr {
  font-size: 0.5rem;
}

.menu {
  list-style: none;
}

.menu-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-left;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ae8f4a;
}

.menu-right {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: menu-right;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  text-justify: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
      justify-self: right;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  text-decoration: none;
  color: #504d43;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.8rem;
}

.fa:hover {
  background-color: #ae8f4a;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.iconify {
  text-decoration: none;
  color: #504d43;
  font-size: 3rem;
  padding: 5px;
}

.iconify:hover {
  background-color: #ae8f4a;
  border-radius: 12px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.body-footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
  margin-bottom: 25px;
  font-size: 0.6rem;
}

html {
  font-size: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 30px;
  margin-right: 30px;
}

#backgroundvideo {
  display: none;
}

#startup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body {
  margin: auto;
  max-width: 1100px;
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(400px, 600px) (125px)[4];
      grid-template-columns: minmax(400px, 600px) repeat(4, 125px);
  -ms-grid-rows: 100px (125px)[4] 75px;
      grid-template-rows: 100px repeat(4, 125px) 75px;
      grid-template-areas: "menu-left . . menu-right menu-right" "title triangle1 triangle2 triangle3 triangle4" "title triangle5 triangle6 triangle7 triangle8" "introduction building building triangle9 triangle10" "main-logo building building triangle11 triangle12" "body-footer body-footer body-footer body-footer body-footer";
}

.iconify {
  font-size: 3.5rem;
}

.title {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 25px;
}

.title-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.introduction {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: introduction;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 25px;
}

.main-logo {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: main-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  padding-bottom: 25px;
}

.building {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: building;
  overflow: hidden;
}

.triangle {
  height: 100%;
  width: 0;
  height: 0;
  border-right: 125px solid transparent;
}

.triangle:hover {
  opacity: 0.4;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.triimage {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 125px;
  height: 125px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.building img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.triimage:hover {
  opacity: 0.8;
}

.triangle1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: triangle1;
  border-bottom: 125px solid #ae8f4a;
}

.triangle2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: triangle2;
  border-bottom: 125px solid #ae8f4a;
}

.triangle3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: triangle3;
  border-bottom: 125px solid #504d43;
}

.triangle4 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: triangle4;
  border-bottom: 125px solid #504d43;
}

.triangle5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: triangle5;
  border-bottom: 125px solid #ae8f4a;
}

.triangle6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: triangle6;
  border-bottom: 125px solid #ae8f4a;
}

.triangle7 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: triangle7;
  border-bottom: 125px solid #504d43;
}

.triangle8 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: triangle8;
  border-bottom: 125px solid #504d43;
}

.triangle9 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: triangle9;
  border-bottom: 125px solid #b3ad97;
}

.triangle10 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: triangle10;
  border-bottom: 125px solid #b3ad97;
}

.triangle11 {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: triangle11;
  border-bottom: 125px solid #b3ad97;
}

.triangle12 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: triangle12;
  border-bottom: 125px solid #b3ad97;
}
/*# sourceMappingURL=index.css.map */