@import "./variables.scss";
@import "./header.scss";

body {
  display: flex;
  flex-direction: column;
}

// Header formatting

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: $col_lbeige;
  border-radius: 30px 30px 30px 30px;

  .home-button {
    display: flex;
    justify-content: center;
    flex: 1 1 150px;
  }

  .header-title {
    display: flex;
    justify-content: center;
    flex: 4 1 300px;
    color: $col_gold;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-menu-right {
    display: flex;
    justify-content: center;
    flex: 1 1 150px;
  }

  .header-menu-right ul2 {
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

// Main page content

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden; //Hide what's outside the div boxes
  border-radius: 30px 30px 30px 30px;
}

//Blog

.blogheading {
  margin-top: 40pxpx;
  margin-bottom: 20px;
  text-align: center;
  opacity: 1;
}

.blogintro {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.blogarticle {
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 30px;
  background-color: $col_lbeige;
  margin-bottom: 5vw;
  flex-wrap: wrap-reverse;
}

.blogtext{
  margin: 0px;
  padding: 30px;
}

.blogtextcontainer {
  flex: 4 1 400px;
  display: block;
  padding: 0px;
  text-align: left;
}

.blogbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 30px;
  background-color: $col_gold;
  margin-bottom: 5vw;
  flex-wrap: wrap;
}

.blogbartextcontainer {
  flex: 3 1 500px;
  flex-direction: column;
  display: block;
  padding: 0px;
  text-align: left;
}

.blogbarqr {
  display: flex;
  flex: 1 1 300px;
  width: 300px;
  height: auto;
  display: block;
  border-radius: 30px 30px 30px 30px;
}