@import "./variables.scss";

body {
  max-width: $maxwid;
  margin: 0 auto;
}

html {
  margin: 25px;
}

.iconify {
  font-size: 3.5rem;
}

.articleframe{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.articlepicture{
  max-width: 350px;
  width: 100%;
}

.subarticle {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
}

//blogbar
.blogbarqr {
  max-width: 200px;
  margin-left: 30px;
}

//Animations (for desktop only)