@import "./variables.scss";

body {
  max-width: $maxwid;
  margin: 0 auto;
}

html {
  margin: 25px;
}

.iconify {
  font-size: 3.5rem;
}

.blogarticle{
  display: flex;
  flex-direction: row;
  }

.blogpicture {
  display: flex;
  flex: 1 1 400px;
  border-radius: 30px 30px 30px 30px;
  max-width: 500px;
  max-height: 100%;
  display: block;
  width: 100%;
}

//Animation for desktop only