@import "./variables.scss";

html {
  font-size: 2.5rem;
  box-sizing: border-box;
  width: 100vw;
}

body {
  width: 90vw;
  margin: 0 auto;
}

.header-menu-right {
  font-size: 0.7rem;
}
.iconify {
  font-size: 2.4rem;
}

.header-title {
  display: flex;
  justify-content: center;
  flex: 1 1 200px;
  color: $col_gold;
}

.articlepicture {
  display: block;
  width: 100%;
}
