@import "./variables.scss";
@import "./header.scss";

body {
  display: flex;
  flex-direction: column;
}

//header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: $col_lbeige;
  border-radius: 30px 30px 30px 30px;

  margin-top: 30px;
  padding: 1vh;
}

// Main page content

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden; //Hide what's outside the div boxes
  border-radius: 30px 30px 30px 30px;
}

//Blog standard article

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 30px;
  margin-bottom: 5vw;

  .articleheading {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    opacity: 1;
  }

  .articleframe {
    margin: 0;
    padding: 0;

    .articlepicture {
      display: flex;
      flex: 1 1 300px;
      width: 100%;
      justify-content: center;
    }

    .articletextdiv {
      display: flex;
      flex: 3 1 400px;
      margin: 0px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
}

.genpicture {
  margin: 0px;
  padding: 0px;
  border-radius: 30px 30px 30px 30px;
  height: 100%;
}

//container

.articlecontainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px 30px 30px 30px;
  z-index: -1;
  padding: 30px;
  margin-bottom: 5vw;

  .articlecontainerheading {
    margin-bottom: 20px;
    text-align: center;
  }

  .articlecontainerpicture {
    display: inline-flex;
    border-radius: 30px 30px 30px 30px;
    margin: 15px;
    width: 100%;
  }
}

.subarticlesframe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .subarticle {
    display: flex;
    align-content: center;
    border-radius: 30px 30px 30px 30px;
    padding: 15px;
    margin: 15px;
    flex-wrap: wrap;
    z-index: 0;
  }
}

.logoaspicture{
padding: 40px;
}

//blogbar
.blogbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 30px 30px;
  padding: 30px;
  margin-bottom: 5vw;
  flex-wrap: wrap;
}

.blogbartextcontainer {
  flex: 3 1 500px;
  flex-direction: column;
  display: block;
  padding: 0px;
  text-align: left;
}

.blogbarqr {
  display: flex;
  flex: 1 1 250px;
  width: 250px;
  height: auto;
  display: block;
  border-radius: 30px 30px 30px 30px;
}

//generic
.insidecard {
  padding: 30px;
}
