/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 200;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
  font-size: 1.8rem;
}

.header-title {
  font-size: 1.8rem;
}

/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 200;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
  font-size: 1.8rem;
}

.header-title {
  font-size: 1.8rem;
}

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-footer {
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.button {
  color: #423f38;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
}

.fa {
  text-decoration: none;
  color: #423f38;
}

.fa:hover {
  opacity: 0.7;
}

.iconify {
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  color: #423f38;
}

.iconify:hover {
  opacity: 0.7;
}

/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 200;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
  font-size: 1.8rem;
}

.header-title {
  font-size: 1.8rem;
}

/*Global Styles*/
html {
  font-family: 'Raleway';
  font-weight: 200;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

ul1 {
  font-size: 1.8rem;
}

ul2 {
  font-size: 0.9rem;
}

.button {
  border-bottom: solid #ae8f4a;
  border-bottom-width: 2px;
  font-size: 1.8rem;
}

.header-title {
  font-size: 1.8rem;
}

.menu {
  list-style: none;
}

.menu-left {
  grid-area: menu-left;
  z-index: 10;
}

.menu ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
}

.menu ul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-footer {
  grid-area: body-footer;
  padding-top: 25px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.button {
  color: #423f38;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
}

.fa {
  text-decoration: none;
  color: #423f38;
}

.fa:hover {
  opacity: 0.7;
}

.iconify {
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  color: #423f38;
}

.iconify:hover {
  opacity: 0.7;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

@media only screen and (min-width: 1201px) {
  html {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 1.6rem;
  }
}

body {
  padding: 10px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header-container .home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  color: #423f38;
  font-size: 2rem;
}

.header-container .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 100px;
          flex: 2 1 100px;
  color: #ae8f4a;
}

.header-container .header-menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  padding: 15px;
}

.header-menu-right ul2 {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  padding: 10px;
}

.article-title {
  padding-top: 10px;
}

.article-content {
  padding-top: 10px;
}
/*# sourceMappingURL=live.css.map */