@import "./variables.scss";
@import "./header.scss";

body {
  padding: 10px;
}

//header
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: $col_lbeige;
  border-radius: 30px 30px 30px 30px;

  margin-top: 30px;
  padding: 1vh;
}

main {
  padding: 10px;
}

.article-title {
  padding-top: 10px;
}
.article-content {
  padding-top: 10px;
}
