@import "./variables.scss";
@import "./header.scss";

//for mobile
@media only screen and (min-width: 1201px){
    
    @import "./index.scss";

    #backgroundvideo{
        display: none;
    }

    html{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1200px){
    
    @import "./indexmobile.scss";

    #backgroundvideo{
        display: flex;
    }
    .title{
        display: flex;
        justify-content: center;
    }
    html{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 600px){
    
    @import "./indexmobile.scss";

    #backgroundvideo{
        display: flex;
    }
    .title{
        display: flex;
        justify-content: center;
    }

    html{
        font-size: 1.6rem;
    }
}  
